body {
  background-color: #d3e3ff;
  border: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  width: 70%; 
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

/* Header items*/
#header {
  height: auto;
  padding: 8%;
  padding-top:30px;
  padding-bottom:30px;
  background-color:#658bce;
  display: block;
  overflow: auto;
}

h {
  color: white;
  font-size: 30px;
  float: left;
  width: 30%;
}

/* Navigation */
#main-nav {
  border-radius: 6px; 
  float: right;
  margin: 0;  
  overflow: hidden;
  padding: 0;
  width: 70%;
}

#navlist {
  display: inline;
  margin: 0;  
  padding: 0;
}

#navlist li {
  width: 20%;
  list-style: none;
  float: left;
}

#main-nav a {
  display: block;
  font-size: 18px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

#main-nav a:hover {
  background-color: #ddd;
}

#main-nav a:active, .activated {
  background-color: white;
}

.activated a {
  color: black;
}

.deactivated { 
  background-color: #60BBE8;
}

.deactivated a {
  color: white; 
}

/* Content */
#content {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 10%;
  padding-left: 8%; 
  padding-right: 8%;
}

/* Game page styling */
games {
  display: block;
}

game {
  display: block;
  margin-bottom: 30px;
  float: none;
  overflow: auto;
}

/* Video resizing */
/* Based off: https://coolestguidesontheplanet.com/videodrome/youtube/ */
.video-container {
  height:0;
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  overflow:hidden;
}

.video-container iframe {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

/* Image gallery styling */
img {
  max-width: 950px;
  max-height:420px;
  margin: 10px;
}

/* Resume styling */
.rtitle {
  margin: 0;	
}

#rheader {
  text-align: center;
}

#rname {
  font-size: 16pt;
  margin-bottom: 10px;
}

#rlinks {
  margin: 0;
  padding: 0;
}

#rjob {
  margin-bottom: 0;
  margin-top: 30px;
}

#resume table {
  width: 100%;
}

td, tr, #resume p, .pts {
  margin-top: 0;
}

.date {
  text-align: right;
}

.section {
  margin-bottom: 35px;
}

.item {
  margin-bottom: 35px;	
}





















