body {
  border: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 7%;
  margin-right: 7%;
}

/* Header */
h {
  font-size: 30px;
  float: left;
  width: 30%;
}

#header {
  display: block;
  margin-bottom: 55px;
  overflow: auto;
}

/* Navigation */
#main-nav {
  border-radius: 6px; 
  float: right;
  margin: 0;  
  overflow: hidden;
  padding: 0;
  width: 70%;
}

ul {
  display: inline;
  margin: 0;  
  padding: 0;
}

ul li {
  width: 20%;
  list-style: none;
  float: left;
}

#main-nav a {
  display: block;
  font-size: 18px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

#main-nav a:hover {
  background-color: #ddd;
}

#main-nav a:active, .activated {
  background-color: white;
}

.activated a {
  color: black;
}

.deactivated { 
  background-color: #60BBE8;
}

.deactivated a {
  color: white; 
}

/* Main content */
#content {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 65%;  
}

/* Game page styling */
games {
  display: block;
}

game {
  display: block;
  margin-bottom: 30px;
  overflow: auto;
}

/* Video resizing */
/* Based off: https://coolestguidesontheplanet.com/videodrome/youtube/ */
.video-container {
  height:0;
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  overflow:hidden;
}

.video-container iframe {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

